.app {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
  }
  
  .search-container {
    margin-bottom: 20px;
  }
  
  .search-container input {
    padding: 10px;
    font-size: 16px;
    margin-right: 10px;
    width: 300px;
  }
  
  .search-container button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .loading {
    color: blue;
  }
  
  .error {
    color: red;
  }
  
  .weather-info {
    border: 1px solid #ccc;
    padding: 20px;
    margin-top: 20px;
    display: inline-block;
    text-align: left;
  }
  
  .weather-info h2 {
    margin-bottom: 20px;
  }
  
  .forecast-info {
    margin-top: 20px;
    text-align: left;
  }
  
  .forecast-info h2 {
    margin-bottom: 20px;
  }
  
  .forecast-info ul {
    list-style: none;
    padding: 0;
  }
  
  .forecast-item {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
  }
  
  .forecast-item p {
    margin: 5px 0;
  }
  
  .city-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    margin-top: 20px;
    text-align: left;
  }
  
  .city-details p {
    margin: 5px 0;
    flex: 1 1 calc(25% - 10px);
    min-width: 150px;
  }
  
  .forecast-container {
    margin-top: 20px;
  }
  
  .forecast-row {
    margin-bottom: 20px;
  }
  
  .forecast-boxes {
    display: flex;
    flex-wrap: nowrap; /* Prevent wrapping of boxes */
    justify-content: space-between; /* Distribute space evenly */
    gap: 10px;
  }
  
  .forecast-box {
    flex: 1 0 calc((100% - 70px) / 8); /* 8 boxes with gaps of 10px between them */
    max-width: calc((100% - 70px) / 8);
    min-width: 100px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    background-color: #f9f9f9;
  }

  .date-box {
    flex: 1 0 calc((100% - 70px) / 16); /* 8 boxes with gaps of 10px between them */
    max-width: calc((100% - 70px) / 16);
    min-width: 100px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    background-color: #f9f9f9;
  }
  
  .forecast-box p {
    margin: 5px 0;
    font-size: 14px;
    flex-wrap: nowrap;
  }

  .date-box p {
    margin: 5px 0;
    font-size: 14px;
    flex-wrap: nowrap;
  }
  
  .empty-box {
    color: #999;
    font-style: italic;
  }  
  
  @media (max-width: 768px) {
    .city-details {
      flex-direction: column;
    }
  
    .city-details p {
      flex: 1 1 100%;
    }
  }
  
  